{% extends 'base.html' %}

{% block title %}Storm Images Uploader{% endblock %}

{% block content %}
  <main class="uploader-app">
    <h1 class="uploader-app__title">Upload your image</h1>
    <form class="uploader-app__form" method="POST" enctype="multipart/form-data">
      <input class="uploader-app__input" type="file" name="file">
      <input class="uploader-app__submit" type="submit" value="Upload">
    </form>

    <a class="uploader-app__download-link" href="{{ url_for('download_uploads') }}">Download uploaded files</a>
  </main>
{% endblock %}
